<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>
  <div class="container">
    <h2 class= "text-primary">Leave a review </h2>
    <%if current_user %>
      <%= form_for :review, url: [@product, @review], method: "POST" do |form| %>
      <div class="form-group">
        <label>Rating</label>
        <%= form.select :rating, [1, 2, 3, 4, 5] %>
      </div>
      <div class="form-group">
        <%= form.text_area :description %>
      </div>
      <%= form.submit %>
    <% end %>
    <%else%>
      <a href=/login>Login</a> or
      <a href=/signup> Sign up </a>
      to leave a review
    <% end %>
  </div>
  <table class="table table-bordered">
    <caption class="text-center text-primary"> Reviews </caption>
      <thead>
        <tr class="text-primary">
          <th>Username</th>
          <th>Review</th>
          <th>Rating</th>
          <th>Date Posted</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @product.reviews.reverse_each do |review| %>
          <tr>
            <td><%= reviewer(review.user_id) %></td>
            <td><%= review.description %></td>
            <td><% review.rating.times do %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %></td>
            <td><%= review.created_at %></td>
            <td><% if !current_user %>
                  No Available Actions
                <%elsif current_user.id == review.user_id.to_i %>
                  <%= link_to fa_icon('trash'), review, class: 'btn btn-sm', method: :delete, data: { confirm: "Are you sure?" } %>Delete</
                <%else %>
                  No Available Actions
                <%end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>